# Auto detect text files and perform LF normalization
* text=auto

# Text files
*.md text eol=lf
*.txt text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

# Windows scripts
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Binary files (prevent git from corrupting binary data or diffing)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.svg text
*.wav binary
*.mp3 binary
*.ogg binary
*.mp4 binary
*.apk binary
*.zip binary
*.bundle binary
*.docx binary
*.pdf binary
*.keystore binary
*.jar binary
